:root {
    --fuenteheading: 'PT Sans', 'sans-serif';
    --fuenteparrafos: 'Open Sans', 'sans-serif';

    --primario:#784D3C;
    --blanco: #FFFFFF;
    --negro: #000000;
}

html {
    box-sizing:border-box;
    font-size: 62.5%; /* el border-box aplica a todo el HTML Y el font-size reduce el tamanho de todos los elementos (truco para utilizar mejor los rem)*/
}

/* inherit hace que un elemento herede el valor del box sizing*/

*,*:before,*:after {
    box-sizing: inherit;
} 



/*BODY*/
body{
    font-family: var(--fuenteparrafos);
    font-size: 1.6rem;
    line-height: 2; /*interlineado, como es un blog es mejor si esta medio separado*/
}

/*GLOBAL*/
.contenedor{
    max-width: min(90%, 120rem);
    margin: 0 auto;
}

a{
    text-decoration: none;
}
h1,h2,h3,h4{
    font-family: var(--fuenteheading);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}
/* //////////////////////UTILIDADES//////////////////////////// */
.no_margin{
    margin: 0 auto;
}



/* ///////////////////HEADER///////////////// */
/*  EDICION DE TODO EL HEADER   */

.header {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 60rem;
}


 /* COMPORTAMIENTO DE BACKGROUND Y LA BARRA SUPERIOR*/
.barra{
    padding-top: 4rem;

}


.barra__logo_blog{
    text-align: center;
    margin: 0 auto;
    color: var(--blanco);
    font-weight: 400;
}

.barra__logo_decafe {
    font-weight: 700;

}
.navegacion__link {
    display: block;
    font-size: 2rem;
    text-align: center;
    color: var(--blanco);
}   
/* /////////////////////TEXTO CENTRAL/////////////////////////// */
 /*TEXTO CENTRAL DEL HEADER*/
.mensaje {
    margin: 10rem 0;
    color: var(--blanco);
    text-align: center;

}
.mensaje__texto{
    margin: 0;
    column-gap: 2rem;
}
.mensaje__parrafo{
    margin: 0;
    align-items: cent;
}

/*CUERPOR DEL BLOG*/


.blog__imagen {
    max-width: 100%;
    margin-top: 2rem;
}

/* //////////////////BOTONES///////////////////////// */

.boton__articulo{
    background-color: var(--blanco);
}
.boton__primario{
    background-color: var(--negro);
    color: var(--blanco);
    padding: 2rem;
}
.aside__precio{
    font-weight: bold;
}

.aside__span{
    font-weight: 100    ;
}

.boton__aside{
    background-color: var(--primario);
    text-align: center;
    padding: 2rem 0;


}


.aside__letra{
    font-weight: bold;
    background-color: var(--primario);
    color: var(--blanco);

}

/* /////////////////////////////// footer //////////////////////// */
.footer-conteneror{
    background-color: #000000;
}

.footer{
    padding: 5rem;
    margin-top: 2rem;
}







/*  RESPONSIVE DESIG     */

@media (min-width: 768px) {

    /* PARTE DEL HEADER DE LA PAGINA */

    .barra {
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }


    .navegacion {
        display: flex;
        gap: 2rem   ;
     }

     /* PARTE DEL CUERPO GENERAL DE LA PAGINA */
     .cuerpo {
        display: grid ;
        grid-template-columns: 2fr 1fr;
        margin: 0 auto;
        max-width: 120rem;
        column-gap: 4rem;
    } 

    .contenedor{
        max-width: min(90%, 120rem);
        margin: 0 auto;
    }
    
    .footer{
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
 }